<main>

	<h2>You are viewing:

		{{this.name}}
		{{!-- <<<< DONUT NAME HERE >>>> --}}

	</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">

				{{this.name}}
				{{!-- <<<< DONUT NAME HERE >>>> --}}

		</h2>

				<img src="{{this.img}}"/>"
				{{!-- <<<< DONUT IMAGE HERE >>>> --}}

		<br>
		<h3>Description:</h3>
			<p>

				{{this.description}}
				{{!-- <<<< DONUT DESCRIPTION HERE >>>> --}}

			</p><br>
		<h3>Price:</h3>
			<p id="cost">$

				{{this.price}} each</p><br>
				{{!-- <<<< DONUT PRICE HERE >>>> each</p><br> --}}

			<h3 id="quantity">

					{{this.qty}} remaining
	 				{{!-- <<<< DONUT QUANTITY >>>> remaining --}}

			</h3>

			<br>

			<<<< LINK TO THE DONUT's EDIT PAGE >>>>

			<<<< BONUS: BUTTON THAT UPDATES THE COUNT >>>>

		</div>

		<<<< BUTTON THAT DELETED THE DONUT >>>>
</main>
